@page "/Account/Manage/Language"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Loc

<PageTitle>@Loc["Language"]</PageTitle>
<h3>@Loc["Language"]</h3>

<p>@Loc["LanguageChange"]</p>
