@page "/analysis"
@rendermode @(new InteractiveAutoRenderMode(prerender: false))
@using Microsoft.AspNetCore.Authorization
@using HahaBuch.Charts;
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Loc

@attribute [Authorize]

<h3>@Loc["LocalDataStoreSlot"]</h3>

<PieChart />

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
