@page "/imprint"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Loc

<h1>@Loc["ImprintHeading"]</h1>

@Loc["ImprintContent"]

<h1>@Loc["ImprintGDPRHeading"]</h1>

@Loc["ImprintGDPRContent"]

